* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6799ff;

}

img {
    display: none;
}

.main-container {
    width: 100%;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    margin: 8px; 
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.logo {
    flex-grow: 1;
    margin: 12px; 
}


.menu-ul {
    padding-left: 0px;
    display: none;
}

#courses, #how-it-works, #reviews, #pricing, #sign-in {
    text-transform: uppercase;
    margin-left: 0px;
}

@media only screen and (min-width: 575px) {
    .hamburger {
        display: none;
    }
}

.courses-main,
.how-it-works-main,
.reviews-main,
.pricing-main,
.reviews-main,
.sign-in-main {
    border: 1px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.course-list-items,
.info-list-items {
    padding-left: 4px;
    margin-top: 15px;
    color: black;
}

.dev-bootcamp-li,
.data-science-li {
    padding-bottom: 15px;
}

.mentorship-li,
.career-prep-li,
.job-guarantee-li,
.outcomes-li {
    padding-bottom: 15px;
}

.dev-link,
.data-link,
.all-courses-link {
    color: black;
}

.mentorship-link,
.career-prep-link,
.job-link,
.outcome-link {
    color: black;
}

.hidden {
    display: none;
}
